/lab3/TQueueItem.h~
/lab3/TQueueItem.cpp~
/lab3/TQueue.h~
/lab3/Source.cpp~
/lab3/TQueue.cpp~
/lab2/trapeze.cpp~
/lab2/rhombus.cpp~
/lab2/TQueueitem.cpp~
/lab2/TQueueItem.cpp~
/lab2/TQueue.cpp~
/lab2/TQueueItem.h~
/lab2/Source.cpp~
/lab2/Makefile~
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
